  <mat-card class="users full-height">
    <mat-card-header class="header-align">
      <div>
        <div fxLayout="row" *ngIf="!searchVisible">
          <div fxFlex="50%">
            <h4>Users</h4>
          </div>
          <div fxFlex="auto" fxFlexAlign="right">
            <button mat-button matSuffix mat-icon-button>
              <span>
                <mat-icon aria-hidden="false" aria-label="Filter">
                  filter_list
                </mat-icon>
              </span>
            </button>
          </div>
          <div fxFlex="auto" fxFlexAlign="right">
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Search"
              (click)="toggleSearch()"
            >
              <mat-icon aria-hidden="false" aria-label="Search"
                >search</mat-icon
              >
            </button>
          </div>
        </div>
        <div *ngIf="searchVisible" fxLayout="row">
          <div fxFlex="auto">
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Back"
              (click)="toggleSearch()"
            >
              <mat-icon aria-hidden="false" aria-label="Back icon"
                >arrow_back</mat-icon
              >
            </button>
          </div>
          <div fxFlex="auto" class="users__search">
            <mat-form-field class="search-field">
              <input
                matInput
                type="text"
                [(ngModel)]="searchTerm"
                placeholder="Clearable input"
              />
              <button
                mat-button
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="searchTerm = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <mat-list *ngIf="users">
        <app-users-item
          *ngFor="let user of users | userSearch: searchTerm"
          [user]="user"
        ></app-users-item>
      </mat-list>
    </mat-card-content>
  </mat-card>