<section>
  <div *ngIf="albums" >
    <div *ngFor="let album of albums" >
      <mat-checkbox [value]="album.id" (change)="onChange($event)" >
        {{ (album.title.length>15)? (album.title | slice:0:15)+'..':(album.title) }}
      </mat-checkbox>
      <span class="mat-small" > 1000 photos</span>
    </div>
    <div >
        <button mat-fab color="primary">
            <mat-icon aria-hidden="false" aria-label="Add Album" (click)="openDialog()">add</mat-icon>
        </button>
    </div> 
  </div>
  <div *ngIf="!albums" >
    <p>Select a user first</p>
  </div>
</section>
