<section>
  <div *ngIf="photos.length>0">
    <div>
      <mat-form-field>
        <mat-label>Order By</mat-label>
        <select matNativeControl [(ngModel)]="orderByTerm">
          <option value="+">A-Z</option>
          <option value="-">Z-A</option>
        </select>
      </mat-form-field>
    </div>
    <div  fxLayout="row wrap" fxLayoutGap="1%" fxLayoutWrap>
      <app-photos-item
        *ngFor="let photo of (photos | orderBy: orderByTerm | paginate: { itemsPerPage: 10, currentPage: p })"
        [photo]="photo"
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="30"
        fxFlex.gt-md="24"
      ></app-photos-item>
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>

  <div *ngIf="!photos">
    <p>First choose albums</p>
  </div>
</section>
