<mat-card class="example-card">
  <mat-card-header>
    <h2 *ngIf="photos.length > 0">{{ photos.length }} Photos</h2>
    <div>
      <mat-form-field>
        <mat-label>Order By</mat-label>
        <select matNativeControl [(ngModel)]="orderByTerm">
          <option value="+">A-Z</option>
          <option value="-">Z-A</option>
        </select>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div
      fxLayout="row wrap"
      fxLayoutGap="1%"
      fxLayoutWrap
      *ngIf="photos.length > 0"
    >
      <app-photos-item
        *ngFor="
          let photo of photos
            | orderBy: orderByTerm
            | paginate: { itemsPerPage: 10, currentPage: p }
        "
        [photo]="photo"
        fxFlex.xs="100"
        fxFlex.sm="100"
        fxFlex.md="30"
        fxFlex.gt-md="24"
      ></app-photos-item>
    </div>
    <div *ngIf="photos.length === 0">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <p>First choose albums</p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </mat-card-actions>
</mat-card>
