<div class="container full-height" fxLayout="column" >
  <div class="full-height" fxFlex="100%" fxLayout="row" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="space-between none">
    <div fxFlex="20%" fxLayout="column" fxFlexFill>
      <app-users fxFlex="100" fxLayout="column" ></app-users>
    </div>
    <div fxFlex="80%" fxFlexFill>
      <div fxLayout="column" class="full-height" fxLayoutWrap fxLayoutGap="1%" fxLayoutAlign="space-between none">
        <div fxFlex="25%" fxLayout="column">
          <app-albums class="full-height" fxFlex="100" fxLayout="column"></app-albums>
        </div>
        <div fxFlex fxFlexFill fxLayout="column">
          <app-photos class="full-height" fxFlex="100" fxLayout="column"></app-photos>
        </div>
      </div>
    </div>
  </div>
</div>